.buy-container {
  background-color: var(--bs-card-bg);
  color: var(--bs-card-color);
  border: 1px solid var(--bs-border-color);
  border-radius: .75rem;
}

@media (max-width: 576px) {
  .buy-container { padding: 1rem !important; }
}

